<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body style="font-size:20px; padding:50px;">
  <h1>Tiny App</h1>
  <% console.log("here",user.user_ID)%>
 <% if (!user.user_ID) { %>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
<% } else  {%>
  <form method="POST" action="/logout">
    <input type="submit" value="LogOut">
  </form>
 <% } %>
</body>
</html>

