<!-- views/partials/header.ejs -->

  <h1>Tiny App</h1>
  <% console.log("here",user)%>

 <% if (user === undefined) { %>


  <a href="/login">Login</a>
  <a href="/register">Register</a>
<% } else  {%>
  <form method="POST" action="/logout">
    <input type="submit" value="LogOut">
  </form>
 <% } %>


