<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            <h1>Tiny App</h1>
        </a>



        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>





</div>
</nav>


<% console.log(username);
if(username){ %>
       <%= username%>
        <form method="POST" action="/logout">

        <button type="submit">Log Out</button>


    </form>

<% } else{ %>
   <form method="POST" action="/login">
   <input type="text" name="username" value="username">
   <button type="submit">Submit</button>

<% } %>