<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <header>
    <% include ../views/partials/_header %>
  </header>
  <ul>
    <% for(var url in urls) { %>
    <li>
        <%= url %> &rarr; <%= urls[url] %>
      <form method="POST" style="display:inline" action=<%="/urls/" + url +"/delete"%> >
        <a href="<%="urls/"+ url +"/update" %>"> Edit </a>
        <button> Delete </button>
      </form></li>


    <% } %>
  </ul>
</body>
</html>