<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<header>
  <% include ../views/partials/_header %>
</header>
<ul>
  <% for(var url in urls) {  %>
  <% if(user === urls[url]['userID']) { %>
  <li>
  <%= url %> &rarr; <%= urls[url]['longURL'] %>
  <a href="<%="urls/"+ url %>"> Edit </a>
  <form method="POST" style="display:inline" action=<%="/urls/" + url +"/delete"%> >
  <input type="submit" value="Delete">
  </form> </li> <% } %>
  <% } %>
</ul>
</body>
</html>